:root {
  --bg-color: #fdfdfd;
  --text-color: var(--bg-color);
  --bg-calculator: #242424;
  --bg-calculator-variant: #555;
  --bg-operator: #f50;
  --bg-operator: #ff8446;

  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}